{% extends 'base.html.twig' %}

{% block menu %}
    <ul>
        <li><a href="{{ path('main') }}">Main</a></li>
        <li><a href="{{ path('blog') }}">Blog</a></li>
        <li><a href="{{ path('portfolio') }}">Portfolio</a></li>
    </ul>
{% endblock %}