{% block body %}
    <ul>
        <li>
            <a href="{{ path("admin_blog") }}">{{ 'Blog'|trans }}</a>
        </li>
        <li>
            <a href="{{ path("admin_portfolio") }}">{{ 'Portfolio'|trans }}</a>
        </li>
    </ul>
{% endblock %}